HTML {
	BACKGROUND: #fff; COLOR: #000
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
ADDRESS {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
CAPTION {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
CITE {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
CODE {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
DFN {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
EM {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
STRONG {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
TH {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
VAR {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
OPTGROUP {
	FONT-STYLE: inherit; FONT-WEIGHT: inherit
}
DEL {
	TEXT-DECORATION: none
}
INS {
	TEXT-DECORATION: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
ABBR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; FONT-VARIANT: normal; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
ACRONYM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; FONT-VARIANT: normal; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
SUP {
	VERTICAL-ALIGN: baseline
}
SUB {
	VERTICAL-ALIGN: baseline
}
LEGEND {
	COLOR: #000
}
INPUT {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
BUTTON {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
TEXTAREA {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
SELECT {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
OPTGROUP {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
OPTION {
	FONT-STYLE: inherit; FONT-FAMILY: inherit; FONT-SIZE: inherit; FONT-WEIGHT: inherit
}
INPUT {
	
}
BUTTON {
	
}
TEXTAREA {
	
}
SELECT {
	
}
BODY {
	FONT: 13px/1.231 arial, helvetica, clean, sans-serif
}
SELECT {
	FONT: 99% arial, helvetica, clean, sans-serif
}
INPUT {
	FONT: 99% arial, helvetica, clean, sans-serif
}
BUTTON {
	FONT: 99% arial, helvetica, clean, sans-serif
}
TEXTAREA {
	FONT: 99% arial, helvetica, clean, sans-serif
}
BUTTON {
	FONT: 99% arial, helvetica, clean, sans-serif
}
TABLE {
	FONT-SIZE: inherit
}
PRE {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace
}
CODE {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace
}
KBD {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace
}
SAMP {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace
}
TT {
	LINE-HEIGHT: 100%; FONT-FAMILY: monospace
}
